body {
  font-family: 'Poppins', sans-serif;
  background-color: #1E252B;
  
}

.header {
  display: flex;
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  font-weight: 600;
  padding-top: 38px;
}

.nav {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  font-weight: 500;

}

/* Обращаемся к элементам только по классу. Дай li класс и обращайся по нему */
.nav li {
  margin-left: 41px;
}

/* Тоже самое что и сверху. Так же избегай вложенности, максимум 2 уровня */
.nav li a {
  text-decoration:none;
  color: rgb(241, 245, 245);
  font-weight: 500;
  width: 431px;
}

.nav-btn {
  background-color: #FF6E30;
  border-radius: 8px;
  padding: 10px 15px;
  color: white;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.div header{
  width: 50%;
  margin-bottom: 20px;
  vertical-align: top;
  
}
.antools{

}

.logo-img {
  height: 38px;
  width: 38px;
  border-radius: 8px;
  padding-right: 12px;
}

.logo-text{
  font-size: 22px;
  color:rgb(236, 236, 236);
  
  
}

.container {
  padding-left: 111px;
}

/* У h1 должен быть свой класс, по нему и обращайся */
.container h1 {
  width: 600px;
  height: 140px;
  font-weight: 500;
  font-size: 50px;
  line-height: 140%;
  color: white;
  margin-top: 178px;
  
}
 
.dot{
  color: #FF6E30;
}

.container p {
  color: white;
  font-size: 18px;
  line-height: 30px;
  display: inline-block;
  
}

.search-block {
  display: flex;
  align-items: center;
  width: 498px;
  height: 64px;
  padding: 0 11px 0 21px;
  background: #283036;
  border-radius: 15px;
  
  margin-top: 60px;
}

.search-icon {
  margin-right: 13px;
}

.search-input {
  margin-right: 30px;
  flex-grow: 1;
  background-color: #283036;
  border: 0;
  font-size: 14px;
  color: white;
}

.search-input:focus {
  outline: none;
}

.button {
  width: 130px;
  height: 48px;
  background: #FF6E30;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  outline: none;
  border: 0;
  cursor: pointer;
}

.social-networks{
  display: flex;
  height: 58px;
  width: 58px;
  border-radius: 8px;
  padding-top: 110px;
}

.decorative-img {
 padding-top: 132px;
}

.preview-section{
  display: flex;
  justify-content: space-between;
}


